### Day 1 includes
1.

In [1]:
import numpy as np
import pandas as pd
print("Numpy version: ",np.__version__)
print("Pandas version: ",pd.__version__)

Numpy version:  1.19.0
Pandas version:  1.0.5

In [2]:
dataset = pd.read_csv('Data.csv')

In [3]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [23]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 3].values

In [14]:
from sklearn.impute import SimpleImputer

In [36]:
imputer = SimpleImputer(missing_values=np.nan, strategy="median")

In [37]:
imputer = imputer.fit(X[:, 1:3])

In [49]:
X = imputer.transform(X[:, 1:3])

In [50]:
df = dataset.fillna((dataset[['Age', 'Salary']]).mean())

In [52]:
X

array([[4.4e+01, 7.2e+04],
       [2.7e+01, 4.8e+04],
       [3.0e+01, 5.4e+04],
       [3.8e+01, 6.1e+04],
       [4.0e+01, 6.1e+04],
       [3.5e+01, 5.8e+04],
       [3.8e+01, 5.2e+04],
       [4.8e+01, 7.9e+04],
       [5.0e+01, 8.3e+04],
       [3.7e+01, 6.7e+04]])

array([[4.4e+01, 7.2e+04],
       [2.7e+01, 4.8e+04],
       [3.0e+01, 5.4e+04],
       [3.8e+01, 6.1e+04],
       [4.0e+01, 6.1e+04],
       [3.5e+01, 5.8e+04],
       [3.8e+01, 5.2e+04],
       [4.8e+01, 7.9e+04],
       [5.0e+01, 8.3e+04],
       [3.7e+01, 6.7e+04]])

In [56]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [58]:
le = LabelEncoder()

In [59]:
le.fit(["Berlin", "Paris", "Tokoyo", "Ameterdam"])

LabelEncoder()

In [60]:
le.classes_

array(['Ameterdam', 'Berlin', 'Paris', 'Tokoyo'], dtype='<U9')

In [65]:
encoded = le.transform(["Berlin", "Tokoyo", "Berlin", "Paris", "Paris"])

In [66]:
encoded

array([1, 3, 1, 2, 2])

In [69]:
decoded = le.inverse_transform(encoded);

In [70]:
decoded

array(['Berlin', 'Tokoyo', 'Berlin', 'Paris', 'Paris'], dtype='<U9')