In [1]:
import pandas as pd

#### step 1: Create the Date

In [40]:
df = pd.DataFrame({'team': ['A', 'A', 'B', 'B', 'B', 'B', 'C', 'C'],
                   'points': [25, 12, 15, 14, 19, 23, 25, 29]})

In [41]:
df

  team  points
0    A      25
1    A      12
2    B      15
3    B      14
4    B      19
5    B      23
6    C      25
7    C      29

#### step2: Perform One-Hot Encoding

In [42]:
from sklearn.preprocessing import OneHotEncoder

In [43]:
encoder = OneHotEncoder(handle_unknown='ignore')

In [44]:
encoded_df = pd.DataFrame(encoder.fit_transform(df[['team']]).toarray())

In [45]:
encoded_df

     0    1    2
0  1.0  0.0  0.0
1  1.0  0.0  0.0
2  0.0  1.0  0.0
3  0.0  1.0  0.0
4  0.0  1.0  0.0
5  0.0  1.0  0.0
6  0.0  0.0  1.0
7  0.0  0.0  1.0

In [46]:
final_df = df.join(encoder_df)

In [47]:
final_dfb

NameError: name 'final_dfb' is not defined

#### step3: Drop the Orignal Categorical Variables

In [48]:
final_df.drop('team', axis=1, inplace=True)

#### step4: Rename the columns of the final_df to make them easier to read.

In [30]:
final_df.columns = ['points','teamA', 'teamB', 'teamC']

In [31]:
final_df

   points  teamA  teamB  teamC
0      25    1.0    0.0    0.0
1      12    1.0    0.0    0.0
2      15    0.0    1.0    0.0
3      14    0.0    1.0    0.0
4      19    0.0    1.0    0.0
5      23    0.0    1.0    0.0
6      25    0.0    0.0    1.0
7      29    0.0    0.0    1.0